@import 'colors';

.bojo{
	position: relative;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	padding: 50px 20px;
}
.div-bojo{
	width: 90%;
	margin: 0 5%;
	padding: 40px 20px;
}
.sub-bojo {
	width: 80%;
	margin: 0 10%;
	padding: 30px 20px;
}