@import 'colors';
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
    list-style: none;
}
// nav
nav {
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    overflow: hidden;
}
nav .brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%;
}
.navbar {
    width: 60%;
    height: 100%;
    float: right;
}
.navbar ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: flex;
}
.navbar ul a {
    width: 20%;
    text-decoration: none;
    height: 60px;
    color: #222;
    display: inline-block;
    opacity: 0.8;
    cursor: pointer;
}
.navbar ul a:hover,.navbar ul a.active {
	opacity: 1;
}

#navbarToggle {
    display: none;
}
.navbar-icon {
    display: none;
}
// default navbar
.nav-default{
	background-color: $default;
	color: $black;
}
.nav-default a{
	color: $black;
	text-decoration: none;
}
.nav-default #navbarToggle:checked ~ ul {
	background-color: $default;
}
.nav-primary #navbarToggle:checked ~ ul {
	background-color: $primary;
}
.nav-secondary #navbarToggle:checked ~ ul {
	background-color: $secondary;
}
.nav-dark #navbarToggle:checked ~ ul {
	background-color: $dark;
}
.nav-light #navbarToggle:checked ~ ul {
	background-color: $light;
}
.nav-warning #navbarToggle:checked ~ ul {
	background-color: $warning;
}
.nav-danger #navbarToggle:checked ~ ul {
	background-color: $danger;
}
.nav-success #navbarToggle:checked ~ ul {
	background-color: $success;
}
.nav-info #navbarToggle:checked ~ ul {
	background-color: $info;
}

// primary
.nav-primary{
	background-color: $primary;
	color: $white;
}
.nav-primary a{
	color: $white;
	text-decoration: none;
}
// secondary
.nav-secondary{
	background-color: $secondary;
	color: $white;
}
.nav-secondary a{
	color: $white;
	text-decoration: none;
}
// dark navbar
.nav-dark{
	background-color: $dark;
	color: $white;
}
.nav-dark a{
	color: $white;
	text-decoration: none;
}
// light navbar
.nav-light{
	background-color: $light;
	color: $black;
}
.nav-light a{
	color: $black;
	text-decoration: none;
}
// warning navbar
.nav-warning{
	background-color: $warning;
	color: $white;
}
.nav-warning a{
	color: $white;
	text-decoration: none;
}
// danger navbar
.nav-danger{
	background-color: $danger;
	color: $white;
}
.nav-danger a{
	color: $white;
	text-decoration: none;
}
// success navbar
.nav-success{
	background-color: $success;
	color: $white;
}
.nav-success a{
	color: $white;
	text-decoration: none;
}
// info navbar
.nav-info{
	background-color: $info;
	color: $white;
}
.nav-info a{
	color: $white;
	text-decoration: none;
}
// position
.navbar-left{
	position: absolute;
	left: 30%;
	transform: translateX(-30%);
}
.navbar-center{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.navbar-right{
	position: absolute;
	right: 0px;
}
.dropdown{
	position: relative;
	height: 0px;
}
.dropdown ul.dropdown-data{
	display: block;
	position: absolute;
	border-radius: 10px;
	min-width: 140px;
	max-height: 0px;
	border: 1px solid transparent;
	overflow: hidden;
	transition: max-height 0.4s;
	transition: border 0.4s;

}
.dropdown:hover{
	height: auto;
}
.dropdown:hover ul.dropdown-data{
	max-height: 100%;
	border-color: $default;
}
.dropdown ul.dropdown-data a{
	font-size: 14px;
	padding-left: 10px;
	display: block;
	cursor: pointer;
	width: 100%;
	text-align: left;
}
.dropdown ul.dropdown-data a:hover{
	background-color: rgba(0,0,0,0.04);
}
@media screen and (max-width: 728px) {
    .navbar {
        width: 100%;
        height: auto;
    }
    .navbar ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	margin-top: 0px;
    	-webkit-transition: max-height 0.3s;
       	transition: max-height 0.3s;
    	-webkit-transition: margin-top 0.3s;
       	transition: margin-top 0.3s;
    }
    .navbar ul a {
        text-align: left;
        width: 100%;
        max-height: 60px;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 0px 10px 5%;
    }
    .navbar-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }
    #navbarToggle:checked ~ ul {
    	margin-top: 50px;
        max-height: 100%;
        padding-bottom: 20px;
        /*Para fazer com que o navbar saia da esquerda ou direita, você deve trocar max-height por max-width*/
    }
    .navbar-icon i {
    	margin-top: 20px;
        font-size: 18px;
    }
    .navbar-left, .navbar-right, .navbar-center{
    	// position: relative;
    }
    // dropdown
    .dropdown{
    	height: 60px
    }
    .dropdown ul.dropdown-data{
    	position: relative;
    	margin: 0px 5%;
    	max-width: 90%;
    }
}