:root {
  --bc-default: #e0e1e2;
  --bc-link: #1f4bdb;
  --bc-primary: #0053db;
  --bc-secondary: #778899 ;
  --bc-dark: #393939;
  --bc-light: #f7f7f7;
  --bc-danger: #fa2349;
  --bc-warning: #ffa500;
  --bc-info: #07a9df;
  --bc-success: #3ab509;
  --bc-black: #000;
  --bc-white: #fff;
  --bc-muted:#636363;
  --bc-grey: #AAAAAA;
  --bc-silver: #DDDDDD;
  --bc-maroon: #85144b;
  --bc-navy: #03045e;
  --bc-orange: #FF851B;
  --bc-pink: #ffafcc;
  --bc-purple: #B10DC9;
  --bc-red: #FF4136;
  --bc-teal: #008080;
  --bc-green: #008000;
  --bc-yellow: #FFDC00;
  --bc-light-default: rgba(237, 240, 240,0.3);
  --bc-light-primary: #dcf0f5;
  --bc-light-secondary: #f2f4f5;
  --bc-light-warning: #ffedcc;
  --bc-light-danger: #fce9ec;
  --bc-light-info: #d9f5ff;
  --bc-light-success: #d1ffbf;
  --bc-light-extreme: #e6e6e6;
  --bc-transparent-black:rgba(0, 0, 0, 0.01);
}

.d-none, .d-none > * {
  display: none;
}

.d-block, .d-block > * {
  display: block;
}

.d-inline-block, .d-inline-block > * {
  display: inline-block !important;
}

.d-inline, .d-inline > * {
  display: inline;
}

.d-flex, .d-flex > * {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.d-inline-flex, .d-inline-flex > * {
  display: inline-flex;
}

.d-content, .d-content > * {
  display: content;
}

.ps-relative {
  position: relative;
}

.ps-fixed {
  position: fixed;
}

.ps-absolute {
  position: absolute;
}

.ps-sticky {
  position: sticky;
}

.ps-initial {
  position: initial;
}

.ps-inherit {
  position: inherit;
}

.cn-left {
  justify-content: flex-start !important;
}

.cn-center {
  justify-content: center !important;
}

.cn-right {
  justify-content: flex-end !important;
}

.cn-between {
  justify-content: space-between !important;
}

.cn-around {
  justify-content: space-around !important;
}

.cn-evenly {
  justify-content: space-evenly !important;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}
